{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block extrastyle %}
{{block.super}}
<style type="text/css">
    #item-detail .input-group-addon {
        background: transparent;
        border: none;
        width: 154px;
        text-align: right;
    }

    #item-detail .form-control {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .form-cls {
        background-color: #fff;
        padding: 20px;
    }

    .form-split {
        border-bottom: 1px solid #E5E9F2;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 6px 0px rgba(216, 216, 216, 1);
        padding: 10px 20px;
    }

    .form-split:last-child {
        border-bottom: 0;
    }

    .form-span {
        padding: 10px 20px;
        margin-bottom: 20px;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 6px 0px rgba(216, 216, 216, 1);
    }

    .form-span .row {
        margin-top: 20px;
    }

    #item-detail .row {
        margin-bottom: 10px;
    }

    #tabs {
        margin-top: 20px;
        /*background: #fff;*/
        margin-bottom: 20px;
        box-shadow: 0px 2px 6px 0px rgba(216, 216, 216, 1);
    }

    #tabs ul {
        float: none;
        background-color: #FFFFFF;
        border-bottom-color: #B3BCCF;
        /*padding: 0 10px;*/
    }
    #tabs ul li {
        margin: 0 20px;
    }


    #tabs ul li a {
        border-top: 0;
        font-size: 18px;
        margin-top: 10px;
        border-bottom: 2px solid transparent;
        color: #333333;
        padding: 5px 12px;
    }

    #tabs ul li.active a, #tabs ul li a:hover {
        border-bottom-color: #597EF7;
        color: #597EF7;
    }

    #main {
        background: #fff;
        padding: 10px 20px;
    }

    /*#supplier {*/
    /*padding: 10px 20px;*/
    /*background-color: transparent;*/
    /*}*/

    .input-group {
        width: 100%;
    }

    #operation-button button {
        width: 80px;
        height: 26px;
        margin-left: 10px;
    }

    #operation-button button:last-child {
        width: 80px;
        height: 26px;
    }

    .checkbox {
        padding-left: 90px;
        margin-bottom: 5px;
    }

    .unit {
        text-align: left !important;
        width: 50px !important;
    }

    /*.ui-jqgrid tr.ui-row-ltr td {*/
    /*height: 42px !important;*/
    /*}*/

</style>

{% endblock %}

{% block content %}

<!--主页面内容-->
<div id="item-detail" class="row" style="margin: 30px 0 0 0">
    <form class="form-cls" id="main_form">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">产品描述：</span>
                    <input class="form-control" id="item_detail_description" type="text"
                           name="item_detail_description"
                           v-model="publicData.description"
                    >
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">仓库代码：</span>
                    <!--<input class="form-control" id="item_detail_location_nr" type="text" name="item_detail_location_nr">-->
                    <select class="form-control" name="item_detail_location" id="item_detail_location"
                            @change="locationChange"
                            v-model="publicData.location.current"
                    >
                        <option v-for="item in publicData.location.values" :key="item.id" :value="item.id">{[ item.nr ]}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">库存数量：</span>
                    <input class="form-control" id="item_detail_total_qty" type="text"
                           name="item_detail_total_qty"
                           v-model="publicData.inventory_qty"
                    >
                    <span class="input-group-addon unit">PCE</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">物料锁定类型：</span>
                    <!--<input class="form-control" id="item_detail_lock_types" type="text" name="item_detail_lock_types">-->
                    <select class="form-control" name="item_detail_lock_types" id="item_detail_lock_types"
                            onchange="ItemDetail.lockTypeChange()"
                            v-model="publicData.lock_types.current"
                    >
                        <option v-for="item in publicData.lock_types.values" :key="item.value" :value="item.value">{[ item.text ]}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">物料编码：</span>
                    <input class="form-control"
                           id="item_detail_nr"
                           type="text"
                           name="item_detail_nr"
                           v-model="publicData.nr"
                    >
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">替代料号：</span>

                    <input class="form-control" id="item_detail_successor_nr" type="text"
                           name="item_detail_successor_nr"
                           v-model="publicData.successor_nr"
                     >
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">可用库存：</span>

                    <input class="form-control" id="item_detail_available_qty" type="text"
                           name="item_detail_available_qty"
                           v-model="publicData.available_inventory"
                    >
                    <span class="input-group-addon unit">PCE</span>
                </div>
            </div>
            <div id="deadline-item-detail" class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">
                        <label id="item_detail_lock_expire_at_required" class="input-required"
                               title="" data-toggle="tooltip" data-original-title="该项必填"
                               style="display: none"></label>

                        到期：</span>
                    <input class="form-control vDateField" id="item_detail_lock_expire_at" type="text"
                           name="item_detail_lock_expire_at"
                           placeholder="日期"
                           v-model="publicData.lock_expire_at"
                    >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">计划策略：</span>
                    <!--<input class="form-control" id="item_detail_plan_strategies_current" type="text"-->
                    <!--name="plan_strategy">-->
                    <select class="form-control"
                            name="item_detail_plan_strategies"
                            id="item_detail_plan_strategies"
                            v-model="publicData.plan_strategies.current"
                    >
                        <option v-for="item in publicData.plan_strategies.values" :key="item.value" :value="item.value">{[ item.text ]}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">物料状态：</span>
                    <!--<input class="form-control" id="status_item" type="text" name="status_item">-->
                    <select class="form-control"
                            name="item_detail_statuses"
                            id="item_detail_statuses"
                            v-model="publicData.statuses.current"
                    >
                        <option v-for="item in publicData.statuses.values" :key="item.value" :value="item.value">{[ item.text ]}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">库存金额：</span>

                    <input class="form-control" id="item_detail_buffer_price" type="text"
                           name="item_detail_buffer_price"
                           v-model="publicData.inventory_cost"
                    >
                    <span class="input-group-addon unit">CNY</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">物料ABC货值：</span>

                    <input class="form-control"
                           id="item_detail_price_abc"
                           type="text"
                           name="item_detail_price_abc"
                           v-model="publicData.price_abc"
                    >
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="padding-left: 77px">
                <button type="button" disabled class="col-md-2 btn btn-primary default btn-aps btn-aps-save"
                        style="margin-left: 15px">订货点ROP
                </button>
                <button type="button" disabled class="col-md-2 btn btn-primary default btn-aps btn-aps-save"
                        style="margin-left: 15px">ROP计算
                </button>
            </div>

            <div class="col-md-3  pull-right">
                <div class="input-group">
                    <span class="input-group-addon">物料ABC数量：</span>
                    <input class="form-control"
                           id="item_detail_qty_abc"
                           type="text"
                           name="item_detail_qty_abc"
                           v-model="publicData.qty_abc"
                    >
                </div>
            </div>
        </div>
    </form>

    <div id="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" :class="tab === 'main'? 'active': null">
                <a href="#main" aria-controls="main" role="tab"
                   data-toggle="tab" @click="changeTab('main')">主数据</a></li>
            <li role="presentation" :class="tab === 'supplier'? 'active': null">
                <a href="#supplier" aria-controls="supplier" role="tab" data-toggle="tab"
                   @click="changeTab('supplier')">供应商</a>
            </li>
            <li role="presentation" :class="tab === 'plan'? 'active': null">
                <a href="#plan" aria-controls="plan" role="tab" data-toggle="tab"
                   @click="changeTab('plan')">计划</a></li>
            <li role="presentation" :class="tab === 'simulation'? 'active': null">
                <a href="#simulation" aria-controls="simulation" role="tab" data-toggle="tab"
                   @click="changeTab('simulation')">模拟</a>
            </li>
            <li role="presentation" class="tab === 'forecast'? 'active': null">
                <a href="#forecast" aria-controls="forecast" role="tab" data-toggle="tab"
                   @click="changeTab('forecast')">预测</a>
            </li>
        </ul>

        <div class="tab-content">
            <main-tab inline-template v-if="tab === 'main'" ref="main">
                <div role="tabpanel" class="tab-pane active">
                    {% include "input/item/item_main.html" %}
                </div>
            </main-tab>
            <supplier-tab inline-template v-else-if="tab === 'supplier'" ref="supplier">
                <div role="tabpanel" class="tab-pane active">
                    {% include "input/item/item_supplier.html" %}
                </div>
            </supplier-tab>
            <plan-tab inline-template v-else-if="tab === 'plan'" ref="plan">
                <div role="tabpanel" class="tab-pane active">
                    {% include "input/item/item_plan.html" %}
                </div>
            </plan-tab>
            <simulation-tab inline-template v-else-if="tab === 'simulation'" ref="simulation">
                <div role="tabpanel" class="tab-pane active">
                    {% include "input/item/item_simulation.html" %}
                </div>
            </simulation-tab>
            <forecast-tab inline-template v-else-if="tab === 'forecast'"
                          ref="forecast"
                          @handle-table-date-change="getForecastGridData"
                          @handle-chart-date-change="getForecastChartData"
            >
                <div role="tabpanel" class="tab-pane active">
                    {% include "input/item/item_forecast.html" %}
                </div>
            </forecast-tab>
        </div>
    </div>

    <div id="operation-button" class="col-md-12" style="margin: 20px 0">
        <button id="closeButton" class="btn btn-primary default btn-aps btn-aps-save pull-right" type="button">关闭
        </button>
        <button id="saveButton" class="btn btn-primary default btn-aps btn-aps-save pull-right" type="submit">保存
        </button>
        <button id="showCalendarButton" class="btn btn-primary default btn-aps btn-aps-save pull-right" type="button">
            日历
        </button>
        <button id="showItemButton" class="btn btn-primary default btn-aps btn-aps-save pull-right" type="button">物料表
        </button>
    </div>
</div>
{% endblock %}


{% block extrahead %}
{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}js/lib/vue.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/item_detail.js"></script>
{% endblock %}


