<form class="form-split">
    <h3>供应商</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商代码：</span>
                <!--<input class="form-control" id="item_detail_supplier_nr" type="text" name="item_detail_supplier_nr">-->
                <select class="form-control" name="item_detail_supplier_id" id="item_detail_supplier_id">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">手机/电话：</span>
                    <input class="form-control" id="item_detail_supplier_phone" type="text" name="phone_supplier">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/</span>
                    <input class="form-control" id="item_detail_supplier_tel" type="text" name="item_detail_supplier_tel">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商名称：</span>
                <input class="form-control" id="item_detail_supplier_name" type="text" name="item_detail_supplier_name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">邮箱：</span>
                <input class="form-control" id="item_detail_supplier_email" type="text" name="item_detail_supplier_email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">国家：</span>
                <input class="form-control" id="item_detail_supplier_address" type="text" name="item_detail_supplier_address">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">联系人：</span>
                <input class="form-control" id="item_detail_supplier_contact" type="text" name="item_detail_supplier_contact">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">城市：</span>
                <input class="form-control" id="item_detail_supplier_city" type="text" name="item_detail_supplier_city">
            </div>
        </div>
    </div>
</form>

<form class="form-split">
    <h3>供应商物料数据</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">采购价格：</span>
                <input class="form-control" id="item_detail_supplier_cost" type="text" name="item_detail_supplier_cost">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商料号：</span>
                <input class="form-control" id="item_detail_supplier_supplier_item_nr" type="text"
                       name="item_detail_supplier_supplier_item_nr">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">计价单位：</span>
                <input class="form-control" id="item_detail_supplier_cost_unit" type="text" name="item_detail_supplier_cost_unit">
            </div>
        </div>
    </div>
</form>
