<!--<style>-->
    <!--.form-span {-->
        <!--padding: 10px 20px;-->
        <!--margin-bottom: 20px;-->
        <!--background-color: #FFFFFF;-->
        <!--box-shadow: 0px 2px 6px 0px rgba(216, 216, 216, 1);-->
    <!--}-->
<!--</style>-->

<form class="form-span">
    <h3>供应商</h3>
    <p>{[ typeof supplierData.data[0] ]}</p>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商代码：</span>
                <!--<input class="form-control" id="item_detail_supplier_nr" type="text" name="item_detail_supplier_nr">-->
                <select class="form-control" name="item_detail_supplier_nr" id="item_detail_supplier_nr"
                        @change="supplierChange" v-model="supplierData.supplierSelected">
                    <option v-for="(item, index) in supplierData.data" :key="item.id" :value="index">{[ item.name ]}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-7" style="padding-right: 0">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 138px">手机/电话：</span>
                    <input class="form-control"
                           id="item_detail_supplier_phone"
                           type="text"
                           name="phone_supplier"
                    >
                </div>
            </div>
            <div class="col-md-5" style="padding: 0">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 55px; text-align: center; font-size: 20px">/</span>
                    <input class="form-control"
                           id="item_detail_supplier_telephone"
                           type="text"
                           name="item_detail_supplier_tel"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商名称：</span>
                <input class="form-control"
                       id="item_detail_supplier_name"
                       type="text"
                       name="item_detail_supplier_name"
                >
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">邮箱：</span>
                <input class="form-control"
                       id="item_detail_supplier_email"
                       type="text"
                       name="item_detail_supplier_email"
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">国家：</span>
                <input class="form-control"
                       id="item_detail_supplier_country"
                       type="text"
                       name="item_detail_supplier_country"
                >
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">联系人：</span>
                <input class="form-control"
                       id="item_detail_supplier_contact"
                       type="text"
                       name="item_detail_supplier_contact"
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">城市：</span>
                <input class="form-control"
                       id="item_detail_supplier_city"
                       type="text"
                       name="item_detail_supplier_city"
                >
            </div>
        </div>
    </div>
</form>

<form class="form-span">
    <h3>供应商物料数据</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">采购价格：</span>
                <input class="form-control"
                       id="item_detail_supplier_cost"
                       type="text"
                       name="item_detail_supplier_cost"
                >
                <span class="input-group-addon unit">CNY</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商料号：</span>
                <input class="form-control"
                       id="item_detail_supplier_supplier_item_nr"
                       type="text"
                       name="item_detail_supplier_supplier_item_nr"
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">计价单位：</span>
                <input class="form-control"
                       id="item_detail_supplier_cost_unit"
                       type="text"
                       name="item_detail_supplier_cost_unit"
                >
            </div>
        </div>
    </div>
</form>
