<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 form-split">
            <form class="col-md-6">
                <h3>计划</h3>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">安全库存：</span>
                        <input class="form-control" id="item_detail_plan_safe_buffer" type="text"
                               name="item_detail_plan_safe_buffer">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">手工MOQ：</span>
                        <input class="form-control" id="item_detail_plan_MOQ" type="text"
                               name="item_detail_plan_MOQ">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">内箱最小包装量：</span>
                        <input class="form-control" id="item_detail_plan_mpq" type="text"
                               name="item_detail_plan_mpq">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">外箱数量：</span>
                        <input class="form-control" id="item_detail_plan_outer_package_num" type="text"
                               name="item_detail_plan_outer_package_num">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">托盘数量：</span>
                        <input class="form-control" id="item_detail_plan_pallet_num" type="text"
                               name="item_detail_plan_pallet_num">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">前置期：</span>
                        <input class="form-control" id="item_detail_plan_lead_time" type="text"
                               name="item_detail_plan_lead_time">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">月均销量：</span>
                        <input class="form-control" id="item_detail_plan_per_month_sale" type="text"
                               name="item_detail_plan_per_month_sale">
                    </div>
                </div>
            </form>
            <form class="col-md-6">
                <h3>发货</h3>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">过去12个月：</span>
                        <input class="form-control" id="item_detail_plan_last_year" type="text"
                               name="item_detail_plan_last_year">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">上月销量：</span>
                        <input class="form-control" id="item_detail_plan_last_month" type="text"
                               name="item_detail_plan_last_month">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">当月销量：</span>
                        <input class="form-control" id="item_detail_plan_now_month_sale" type="text"
                               name="item_detail_plan_now_month_sale">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">当前库存周转期：</span>
                        <input class="form-control" id="item_detail_plan_now_buffer_time" type="text"
                               name="item_detail_plan_now_buffer_time">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">当前订货点：</span>
                        <input class="form-control" id="item_detail_plan_now_order_point" type="text"
                               name="item_detail_plan_now_order_point">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">供应商：</span>
                        <input class="form-control" id="item_detail_plan_nr" type="text"
                               name="item_detail_plan_nr" placeholder="供应商代码">
                        <input class="form-control" id="item_detail_plan_name" type="text"
                               name="item_detail_plan_name" placeholder="供应商名称" style="margin-top: 10px">
                    </div>
                </div>
            </form>
        </div>
        <form class="col-md-12 form-split" style="padding: 28px 28px 0 28px;">
            <div class="row">
                <span class="col-md-2" style="padding-right: 0; margin-top: 6px;">下次订单时间</span>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 40px">日期：</span>
                        <input class="form-control vDateField" id="next_date" type="text"
                               name="next_date" placeholder="日期">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 40px">数量：</span>
                        <input class="form-control" id="next_qty" type="text"
                               name="next_qty">
                    </div>
                </div>
                <div class="col-md-2 pull-right" style="padding-right: 0">
                    <button class="btn btn-primary default btn-aps btn-aps-save" id="freedButton" type="reset"
                            style="width: 100%;">
                        释放
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <!--<div class="row">-->
        <!--<div class="input-group">-->
        <!--<span class="input-group-addon">查询条件：</span>-->
        <!--<input class="form-control" id="item_detail_plan_safe_buffer" type="text"-->
        <!--name="item_detail_plan_safe_buffer">-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <!--表格 内容-->
            <div id="content-main" class="col-md-12" style="min-height: 150px; margin-top: 0.7em">
            </div>

            <div id="gridpager" class="col-md-12"></div>
        </div>
    </div>
</div>

