<form class="form-split">
    <h3>供应商</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商代码：</span>
                <input class="form-control" id="code_supplier" type="text" name="code_supplier">
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">手机/电话：</span>
                    <input class="form-control" id="phone_supplier" type="text" name="phone_supplier">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/</span>

                    <input class="form-control" id="tel_supplier" type="text" name="tel_supplier">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商名称：</span>
                <input class="form-control" id="name_supplier" type="text" name="name_supplier">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">邮箱：</span>
                <input class="form-control" id="mail_supplier" type="text" name="mail_supplier">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">国家：</span>
                <input class="form-control" id="country_supplier" type="text" name="country_supplier">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">联系人：</span>
                <input class="form-control" id="contact_supplier" type="text" name="contact_supplier">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">城市：</span>
                <input class="form-control" id="city_supplier" type="text" name="city_supplier">
            </div>
        </div>
    </div>
</form>

<form class="form-split">
    <h3>供应商物料数据</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">采购价格：</span>
                <input class="form-control" id="price_purchase" type="text" name="price_purchase">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">供应商料号：</span>
                <input class="form-control" id="number_material" type="text" name="number_material">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">计价单位：</span>
                <input class="form-control" id="unit_sale" type="text" name="unit_sale">
            </div>
        </div>
    </div>
</form>