<script src="{{STATIC_URL}}js/item_detail.js" type="application/javascript"></script>

<form class="form-span">
    <div class="row" style="margin-left: 0; margin-right: 0">
        <!--<button id="grid_chooseMonthButton" class="btn btn-primary default btn-aps btn-aps-save pull-left" type="button">月-->
        <!--<img src="{{STATIC_URL}}img/item/month.png">-->
        <!--</button>-->
        <select id="forecast_grid_chooseMonth" class="form-control btn btn-primary default btn-aps btn-aps-save pull-left"
                name="forecast_grid_chooseMonth" style="width: 34px; padding:0 5px" onchange="ItemDetail.DateTypeChange('forecast', true)">
         {%for k,v in date_types%}
            <option value="{{k}}">{{v}}</option>
            {%endfor%}
        </select>
        <button id="grid_chooseDayButton" class="btn btn-primary default btn-aps btn-aps-save pull-left" type="button"
                style="margin-left: 10px">今天
        </button>
        <button id="forecastApplyButton" class="btn btn-primary default btn-aps btn-aps-save pull-right" type="button">
            应用
        </button>
        <button id="forecastSaveButton" class="btn btn-primary default btn-aps btn-aps-save pull-right" type="button"
                style="margin-right: 10px">保存
        </button>
    </div>

    <div class="row">
        <!--表格 内容-->
        <div id="content-main-forecast" class="col-md-12" style="min-height: 150px; margin-top: 0.7em">
        </div>

        <div id="forecastgridpager" class="col-md-12"></div>
    </div>
</form>

<form class="form-span">
    <div class="row" style="margin-left: 0; margin-right: 0;">
        <p class="pull-left">时标：</p>
        <!--<button id="chart_chooseMonthButton" class="btn btn-primary default btn-aps btn-aps-save pull-left" type="button">月-->
        <!--<img src="{{STATIC_URL}}img/item/month.png">-->
        <!--</button>-->
        <select id="forecast_chart_chooseMonth" class="form-control btn btn-primary default btn-aps btn-aps-save pull-left"
                name="forecast_chart_chooseMonth" style="width: 34px; padding:0 5px" onchange="ItemDetail.DateTypeChange('forecast')">
            {%for k,v in date_types%}
            <option value="{{k}}">{{v}}</option>
            {%endfor%}
        </select>

        <button id="chart_chooseDayButton" class="btn btn-primary default btn-aps btn-aps-save pull-left" type="button"
                style="margin-left: 10px">今天
        </button>
    </div>

    <div id="main-chart" class="row">
        <div id="item_detail_forecast_chart" style="height: 300px; width: 100%;"></div>
    </div>
</form>

<!--<script>-->
    <!--ItemDetail.FillOption('grid_chooseMonth');-->
    <!--ItemDetail.FillOption('chart_chooseMonth');-->
<!--</script>-->