{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}
<script type="text/javascript">

var reportkey = '{{reportkey|safe}}';
var initialfilter{% if filters %} = {{filters|safe}}{% endif %};
var resizing;
var editrow;
var editcol;
var currency = "";

{% if reportclass.hasTimeBuckets %}var numbuckets = {{request.report_bucketlist|length}};
{% endif %}

{% if actions %}var actions = {   {% for i in actions %}
   "{{ i.name|escape }}": function() { {{ i.function|safe }} }{% if not forloop.last %},{% endif %}{% endfor %}
   };{% endif %}

$(function() {
  {% if reportclass.hasTimeBuckets and not bucketnames %}
  $('#curfilter').html("{% trans 'Error: Missing time buckets or bucket dates' %}");
{% else %}
  jQuery("#grid").jqGrid({
   	url: (location.href.indexOf("#") != -1 ? location.href.substr(0,location.href.indexOf("#")) : location.href)
   	  + (location.search.length > 0 ? "&format=json" : "?format=json"),
	  datatype: "json",
	  jsonReader : {repeatitems:false},
    colModel:[{{colmodel|safe}}],
    rownumbers: true,
   	rowNum: {{request.pagesize}},
   	autoencode: false, {% if is_popup %}
    onSelectRow: grid.setSelectedRow, {% elif reportclass.editable and haschangeperm %}
    cellEdit: true,
    cellsubmit: 'clientArray',
    editurl: location.pathname,
    afterEditCell: grid.afterEditCell,
    beforeSaveCell: upload.select,{% else %}
    onSelectRow: null,
    singleSelectClickMode: "toggle",
    multiselect: false, {% endif %}
    pager: '#gridpager',
    iconSet: "fontAwesome",
    guiStyle: "bootstrapPrimary",
    viewrecords: true,
    multiSort: true,
    maxSortColumns: 3,
    viewSort: true,
    sortorder: "{{sord}}",
    sortname: "{{sidx}}",
    page: {{page}},
    hidegrid: false,
    resizeStop: grid.saveColumnConfiguration,
    scrollRows: true,
    onSortCol: grid.saveColumnConfiguration,
    onPaging: grid.saveColumnConfiguration,
    //scroll: 1,      // Enables scrolling over all records, instead of paging. But not compatible with frozen columns.
    //sortable: true, // Allows columns to be dragged and dropped between positions. But not compatible with frozen columns
    autowidth: true,{% if filters %}
    postData: {filters: JSON.stringify(initialfilter)},
    search : true,{% endif %}
    shrinkToFit: false,
    searching: {
      multipleSearch: true,
      multipleGroup: true,
      closeOnEscape: true,
      searchOnEnter: true,
      searchOperators: true,
      zIndex: 5000,
      width: 550,
      height: 300
    },
    gridComplete: function() {
      $('#grid [data-toggle="tooltip"]')
        .tooltip({"delay": {"show": 500}, "container": "#workarea"})
        .on('blur', function() {
          $('#grid [data-toggle="tooltip"]').tooltip('hide');
          });
      },
    loadError: function(xhr,st,err) {
      if (xhr.status == 200)
      {
        $('#curfilter').html("{{_('Warning: no data found')|escapejs}}");
        $('#grid').clearGridData();
      }
      else
        $('#curfilter').html("{{_('Error retrieving report data')|escapejs}}" + ":&nbsp;" + xhr.status + "&nbsp;" + xhr.statusText);
    },
    {% if reportclass.editable and reportclass.multiselect and not is_popup and hasaddperm %}
    multiselect: true,
    multiboxonly: true,
    noCellSelection: true,
    onSelectRow: function(rowid, status, e) {
      var selection = $(this).jqGrid('getGridParam','selarrrow').slice(); //this makes this list a static list of values
      grid.markSelectedRow(selection.length);
    },
    formatCell: function(rowid, cellname, value, iRow, iCol) {
      editrow = iRow;
      editcol = iCol;
      return value;
    },
    beforeSelectRow: function (rowid, e) {
    	var $this = $(this), rows = this.rows,
            // get id of the previous selected row
            startId = $this.jqGrid('getGridParam', 'selrow'),
            startRow, endRow, iStart, iEnd, i;

        if (!e.shiftKey) {
            return true;
        } else if (startId) {

        	startRow = rows.namedItem(startId);
            endRow = rows.namedItem(rowid);
            rowidIndex = endRow.rowIndex;
        	var selRowIds = $this.jqGrid("getGridParam", "selarrrow");
        	iStart = startRow.rowIndex;
            iEnd = endRow.rowIndex;

            if (iStart == iEnd) {
            	if ($.inArray(rows[iStart].id, selRowIds) >= 0) {
        			$this.jqGrid('setSelection', rows[iStart].id, false);
        		}
            }

            for (i = Math.min(iStart, iEnd); i <= Math.max(iStart, iEnd); i++) {
                if (i != rowidIndex) {
             	if ($.inArray(rows[i].id, selRowIds) < 0) {
                 	$this.jqGrid('setSelection', rows[i].id, false);
                 }
                }
            	else {
            		if ($.inArray(rows[i].id, selRowIds) >= 0) {
            			$this.jqGrid('setSelection', rows[i].id, false);
            		}
            	}
            }
        }
        return true;
    },{% endif %}
    loadComplete: function() {
      $(".invStatus").each( function(value) {
        $(this).parent().css('background',$(this).css('background-color'));
      });
      upload.restoreSelection();
    },
    {% block extra_grid %}{% endblock %}
    height: {% if reportclass.height %}{% if "height" in preferences %}{{preferences.height}}{% else %}{{reportclass.height}}{% endif %}{% else %}($(window).height() - $("#grid").offset().top - 63 < 150) ? 150 : $(window).height() - $("#grid").offset().top - 63{% endif %}
    });{% if reportclass.frozenColumns > 0 %}

    jQuery("#grid").jqGrid('setFrozenColumns');{% endif %}{% if reportclass.multiselect and not is_popup %}

    $('#cb_grid.cbox').click(grid.markAllRows);{% endif %}{% if reportclass.editable and haschangeperm %}

    $("th").bindFirst('click', upload.validateSort);{% endif %}

    $("#grid")
		 .setGridWidth($('#content-main').width())
		 .setGridHeight({% if reportclass.heigth %}{{reportclass.heigth}}{% else %}$(window).height() - $("#grid").offset().top - {{reportclass.heightmargin}}{% endif %});

    {% if reportclass.height %}$("#grid").gridResize({
     handles: 's', minHeight: {{reportclass.height}},
     resize: function() {
       // Save the configuration if we don't get any more resizing events in 200ms.
       clearTimeout(resizing);
       resizing = setTimeout(grid.saveColumnConfiguration, 200);
       }
     });
  {% endif %}{% endif %}{% if filters %}

  var f = grid.getFilterGroup(initialfilter, true);
  if (f)
	{
	  $('#curfilter').html(gettext("Filtered where") + " " + f);
	  $('#filter').addClass("btn-danger").removeClass("btn-primary");
	};{% endif %}


  $("#grid").on('input', function(event) {
    // to prevent firefox from triggering save/undo on checkbox select
    if (!$(event.target).parent().hasClass('td_cbox')) {
      $("#save").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
      $("#undo").removeClass("btn-primary btn-danger").addClass("btn-danger").prop("disabled", false);
    }
	});

	$(window).bind('resize', function() {
        var h = $(window).height() - $("#grid").offset().top - 63;
        if (h < 150) h = 150;
        $("#grid")
         .setGridWidth($('#content-main').width()){% if not reportclass.height %}
         .setGridHeight(h){% endif %};
	});

	$("#horizonbucketsul li a").click(function(){
	  $("#horizonbuckets1").html($(this).text() + '  <span class="caret"></span>');
	  $("#horizonbuckets").val($(this).prop('name'));
	});

	$("#horizonunitul li a").click(function(){
	  $("#horizonunit1").html($(this).text() + '  <span class="caret"></span>');
	  $("#horizonunit").val($(this).prop('name'));
	});

  $("#actionsul li a").click(function(){
    $("#actions1").html($(this).text() + ' <span class="caret"></span>');
    $("#actions").val($(this).prop('name'));
    grid.runAction($(this).prop('name'));
  });

});

function import_forecast_version_show(title, paragraph, multiple, fxhr) {
    var xhr = {
        abort: function () {
        }
    };

    debugger

    $('#timebuckets').modal('hide');
    $.jgrid.hideModal("#searchmodfbox_grid");
    $('#popup').modal({keyboard: false, backdrop: 'static'});
    var modalcontent = '<div class="modal-dialog">' +
        '<div class="modal-content">' +
        '<div class="modal-header">' +
        '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
        '<h4 class="modal-title">' +
        '<span id="modal_title">' + gettext("Import CSV or Excel file") + '</span>' + '&nbsp;' +
        '<span id="animatedcog" class="fa fa-cog fa-spin fa-2x fa-fw" style="visibility: hidden;"></span>' +
        '</h4>' +
        '</div>' +
        '<div class="modal-body">' +
        '<form id="uploadform">' +
        '<p id="extra_text">' + gettext('Load an Excel file or a CSV-formatted text file.') + '<br>' +
        gettext('The first row should contain the field names.') + '<br><br>' +
        '</p>';

    modalcontent += '<p>时间类型:</p>' +
        '<select name="date_type"> {%for k,v in date_types%}<option value="{{k}}">{{v}}</option>{%endfor%}'+
        '</select></p>';

    modalcontent += '<p>动作选择: <input type="radio" value="create" name="action" checked="true"/> 创建<input type="radio" value="update" name="action"/> 更新</p>';

    if (isDragnDropUploadCapable()) {
        modalcontent += '' +
            '<div class="box" style="outline: 2px dashed black; outline-offset: -10px">' +
            '<div class="box__input" style="text-align: center; padding: 20px;">' +
            '<i class="fa fa-sign-in fa-5x fa-rotate-270"></i>' +
            '<input class="box__file invisible" type="file" id="csv_file" name="csv_file" data-multiple-caption="{count} ' + gettext("files selected") + '" multiple/>' +
            '<label id="uploadlabel" for="csv_file">' +
            '<kbd>' +
            gettext('Select files') +
            '</kbd>&nbsp;' +
            '<span class="box__dragndrop" style="display: inline;">' +
            gettext('or drop them here') +
            '</span>.' +
            '</label>' +
            '</div>' +
            '<div class="box__uploading" style="display: none;">Uploading&hellip;</div>' +
            '<div class="box__success" style="display: none;">Done!</div>' +
            '<div class="box__error" style="display: none;">Error!<span></span>.</div>' +
            '</div>';
    } else {
        modalcontent += gettext('Data file') + ':<input type="file" id="csv_file" name="csv_file"/>';
    }
    modalcontent += '' +
        '</form><br>' +
        '<div style="margin: 5px 0">' +
        '<div id="uploadResponse" style="height: 50vh; resize: vertical; display: none; background-color: inherit; border: none; overflow: auto;"></div>' +
        '</div>' +
        '</div>' +
        '<div class="modal-footer">' +
        '<input type="submit" id="importbutton" role="button" class="btn btn-primary btn-dialog-confirm" value="' + gettext('Import') + '">' +
        '<input type="submit" id="cancelimportbutton" role="button" class="btn btn-danger pull-left" value="' + gettext('Cancel Import') + '" style="display: none;">' +
        '<input type="submit" id="cancelbutton" role="button" class="btn btn-default btn-dialog-cancel pull-right" data-dismiss="modal" value="' + gettext('Close') + '">' +
        '<input type="submit" id="copytoclipboard" role="button" class="btn btn-primary pull-left" value="' + gettext('Copy to Clipboard') + '" style="display: none;">' +
        '</div>' +
        '</div>' +
        '</div>';
    $('#popup').html(modalcontent).modal('show');

    if (!multiple) {
        $("#selected_files").removeAttr(multiple);
    }
    if (title !== '') {
        $("#modal_title").text(title);
    }
    if (paragraph === null) {
        $("#extra_text").remove();
    } else if (paragraph !== '') {
        $("#extra_text").text(paragraph);
    }

    var filesdropped = false;
    var filesselected = false;
    if (isDragnDropUploadCapable()) {
        $('.box').on('drag dragstart dragend dragover dragenter dragleave drop', function (e) {
            e.preventDefault();
            e.stopPropagation();
        })
            .on('dragover dragenter', function () {
                $('.box').removeClass('bg-warning').addClass('bg-warning');
            })
            .on('dragleave dragend drop', function () {
                $('.box').removeClass('bg-warning');
            })
            .on('drop', function (e) {
                if (multiple) {
                    filesdropped = e.originalEvent.dataTransfer.files;
                } else {
                    filesdropped = [e.originalEvent.dataTransfer.files[0]];
                }
                $("#uploadlabel").text(filesdropped.length > 1 ? ($("#csv_file").attr('data-multiple-caption') || '').replace('{count}', filesdropped.length) : filesdropped[0].name);
            });
    }
    $("#csv_file").on('change', function (e) {
        if (multiple) {
            filesselected = e.target.files;
        } else {
            filesselected = [e.target.files[0]];
        }

        $("#uploadlabel").text(filesselected.length > 1 ? ($("#csv_file").attr('data-multiple-caption') || '').replace('{count}', filesselected.length) : filesselected[0].name);
    });

    $('#importbutton').on('click', function () {
            if ($("#csv_file").val() === "" && !filesdropped) {
                return;
            }
            var filesdata = '';

            $('#uploadResponse').css('display', 'block');
            $('#uploadResponse').html(gettext('Importing...'));
            $('#uploadResponse').on('scroll', function () {
                if (parseInt($('#uploadResponse').attr('data-scrolled')) !== $('#uploadResponse').scrollTop()) {
                    $('#uploadResponse').attr('data-scrolled', true);
                    $('#uploadResponse').off('scroll');
                }
            });
            $('#importbutton').hide();
            $("#animatedcog").css('visibility', 'visible');
            $('#uploadform').css('display', 'none');
            $('#copytoclipboard').on('click', function () {
                var sometextcontent = document.createRange();
                sometextcontent.selectNode(document.getElementById("uploadResponse"));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(sometextcontent);
                document.execCommand('copy');
            });
            $('#cancelimportbutton').show().on('click', function () {
                var theclone = $("#uploadResponse").clone();
                theclone.append('<div><strong>' + gettext('Canceled') + '</strong></div>');
                xhr.abort();
                $("#animatedcog").css('visibility', 'hidden');
                $("#uploadResponse").append(theclone.contents());
                $("#uploadResponse").scrollTop($("#uploadResponse")[0].scrollHeight);
                $('#cancelimportbutton').hide();
                $('#copytoclipboard').show();
            });

            // Empty the csv-file field
            //$("#csv_file").wrap('<form>').closest('form').get(0).reset();
            //$("#csv_file").unwrap();

            // Prepare formdata
            filesdata = new FormData($("#uploadform")[0]);
            if (filesdropped) {
                $.each(filesdropped, function (i, fdropped) {
                    filesdata.append(fdropped.name, fdropped);
                });
            }
            if (filesselected) {
                filesdata.delete('csv_file');
                $.each(filesselected, function (i, fdropped) {
                    filesdata.append(fdropped.name, fdropped);
                });
            }

            // Upload the files
            xhr = $.ajax(
                Object.assign({
                    type: 'post',
                    url: typeof(url) != 'undefined' ? url : '',
                    cache: false,
                    data: filesdata,
                    success: function (data) {
                        var el = $('#uploadResponse');
                        el.html(data);
                        if (el.attr('data-scrolled') !== "true") {
                            el.scrollTop(el[0].scrollHeight - el.height());
                        }
                        $('#cancelbutton').html(gettext('Close'));
                        $('#importbutton').hide();
                        $("#animatedcog").css('visibility', 'hidden');
                        $('#cancelimportbutton').hide();
                        if (document.queryCommandSupported('copy')) {
                            $('#copytoclipboard').show();
                        }
                        $("#grid").trigger("reloadGrid");
                    },
                    xhrFields: {
                        onprogress: function (e) {
                            var el = $('#uploadResponse');
                            el.html(e.currentTarget.response);
                            if (el.attr('data-scrolled') !== "true") {
                                el.attr('data-scrolled', el[0].scrollHeight - el.height());
                                el.scrollTop(el[0].scrollHeight - el.height());
                            }
                        }
                    },
                    error: function () {
                        $('#cancelimportbutton').hide();
                        $('#copytoclipboard').show();
                        $("#animatedcog").css('visibility', 'hidden');
                        $("#uploadResponse").scrollTop($("#uploadResponse")[0].scrollHeight);
                    },
                    processData: false,
                    contentType: false
                }, fxhr)
            );
        }
    )
}

</script>
{% endblock %}
{% block content %}
{% block before_table %}{% endblock %}

<div id="import_forecast_version" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/data/input/forecastversion/" method="post" enctype="multipart/form-data">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">forecast version</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <p>
                        时间类型:
                        <select name="date_type">
                            {%for k,v in date_types%}
                            <option value="{{k}}">{{v}}</option>
                            {%endfor%}
                        </select>
                    </p>

                    <p>
                        动作选择:
                        <input type="radio" value="create" name="action" checked="true"/> 创建
                        <input type="radio" value="update" name="action"/> 更新
                    </p>

                    <div class="box" style="outline: 2px dashed black; outline-offset: -10px">
                        <div class="box__input" style="text-align: center; padding: 20px;">
                            <i class="fa fa-sign-in fa-5x fa-rotate-270"></i>
                            <input class="box__file invisible" type="file" id="csv_file" name="forecast"
                                   data-multiple-caption="{count}  gettext(" files selected") " multiple/>
                            <label id="uploadlabel" for="csv_file">
                                <kbd>
                                    Select files
                                </kbd>&nbsp;
                                <span class="box__dragndrop" style="display: inline;"> or drop them here</span>.
                            </label>
                        </div>

                        <div class="box__uploading" style="display: none;">Uploading&hellip;</div>
                        <div class="box__success" style="display: none;">Done!</div>
                        <div class="box__error" style="display: none;">Error!<span></span>.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-dialog-confirm">导入</button>
                    <button type="button" class="btn btn-default btn-dialog-cancel pull-right" data-dismiss="modal">关闭
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row" style="padding: 15px 0 5px 0;">
    <div class="col-xs-8">
        <div style="display: flex;">
            {% block content_title %}
            {% if title %}
                <div style="font-size: 20px; color: #333333">
                    {{title|capfirst|force_escape}}{% if post_title %}: {{post_title|capfirst}}{% endif %}
                    <small>&nbsp;&nbsp;<span id="curfilter"></span> </small>
                </div>
            {% block tools %}{% endblock %}{% endif %}
            {% endblock %}

        <div id="save_undo" style="margin-top: 5px; display: none;" class="form-inline" >
            {% block save_undo_buttons %}
            {% if not is_popup and reportclass.editable and haschangeperm %}
            {% comment %}Translators: Translation included with Django {% endcomment %}

            <input type="submit" value="{% filter force_escape|upper %}{% trans "Save" %}{% endfilter %}" class="btn btn-default btn-save"  disabled role="button" id="save" onclick="upload.save()" title="{% trans 'save changes'|capfirst|force_escape %}">
            <input type="submit" value="{% filter force_escape|upper %}{% trans "Undo" %}{% endfilter %}" class="btn btn-default btn-unsave"  disabled role="button" id="undo" onclick="upload.undo()" title="{% trans 'undo changes'|capfirst|force_escape %}">

            {% if actions %}
                <form class="form-addon" method="get" action="#" style="display: inline;" >
                  <input type="hidden" name="actions" id="actions" value="">
                  <div class="dropdown dropdown-submit-input" style="display: inline;">
                      <button disabled class="btn btn-default dropdown-toggle form-control" type="button" name="actions1" id="actions1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {% trans "select action"|capfirst %}&nbsp;&nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" name="actionsul" id="actionsul" aria-labelledby="actions1" style="top: auto;">
                      {% for i in  actions %}
                        <li><a onclick="" name="{{ i.name|escape }}">{% trans i.label|capfirst %}</a></li>
                      {% endfor %}
                      </ul>
                  </div>
                </form>
            {% endif %}
            {% endif %}
            {% endblock save_undo_buttons %}
            </div>
        </div>
    </div>

    <div id="toolicons" class="col-xs-4 hor-align-right ver-align-middle pull-right" style="text-align: right;">
    {% block actions %}

    {% if reportclass.filterable %}
        <button class="btn btn-xs btn-default btn-table-icon" id="filter" onclick="grid.showFilter()" data-toggle="tooltip"
                data-placement="top" data-original-title="{% trans 'filter data'|capfirst|force_escape %}">
            <!--<span class="fa fa-search"></span>-->
            <img src="{{STATIC_URL}}img/table/filter.png" alt="{% trans 'filter data'|capfirst|force_escape %}">
        </button>
    {% endif %}


    <!--删除按钮-->
    {% if hasdeleteperm and not is_popup %}
    <button class="btn btn-xs btn-default btn-table-icon" id="delete_selected" disabled data-toggle="tooltip" data-placement="top"
            data-original-title="{% trans 'Delete selected objects'|escape %}" onclick="grid.showDelete()">
        <!--<span class="fa fa-minus"></span>-->
        <img src="{{STATIC_URL}}img/table/delete.png" alt="{% trans 'Delete selected objects'|escape %}">
    </button>
    {% endif %}

    <!--堆叠-->
    {% if reportclass.hasTimeBuckets %}
    <button class="btn btn-xs btn-default btn-table-icon" onclick="grid.showBucket()" data-toggle="tooltip" data-placement="top"
            data-original-title="{% trans 'Configure time buckets'|escape %}" id="bucketconfig">
        <!--<span class="fa fa-clock-o"></span>-->
        <img src="{{STATIC_URL}}img/table/time.png" alt="{% trans 'Configure time buckets'|escape %}">
    </button>
    {% endif %}

    <!--导入按钮-->
    {% if hasaddperm %}
    <button class="btn btn-xs btn-default btn-table-icon" id="csvimport" data-toggle="tooltip" data-placement="top"
            data-original-title="{% trans 'import CSV or Excel file'|capfirst|force_escape %}"
            onclick="import_forecast_version_show()">
        <!--<span class="fa fa-arrow-up"></span>-->
        <img src="{{STATIC_URL}}img/table/import.png" alt="{% trans 'import CSV or Excel file'|capfirst|force_escape %}">
    </button>
    {% endif %}

    <!--导出按钮-->
    <button class="btn btn-xs btn-default btn-table-icon" onclick="grid.showExport(true)" data-toggle="tooltip"
            data-placement="top"
            data-original-title="{% trans 'export as CSV or Excel file'|capfirst|force_escape %}">
        <!--<span class="fa fa-arrow-down"></span>-->
        <img src="{{STATIC_URL}}img/table/export.png" alt="{% trans 'export as CSV or Excel file'|capfirst|force_escape %}">
    </button>

    <!--自定义表头-->
    <button class="btn btn-xs btn-default btn-table-icon" onclick="grid.showCustomize(false);" data-toggle="tooltip"
            data-placement="top" data-original-title="{% trans 'customize'|capfirst|force_escape %}">
        <!--<span class="fa fa-wrench"></span>-->
        <img src="{{STATIC_URL}}img/table/setting.png" alt="{% trans 'customize'|capfirst|force_escape %}">
    </button>
    {% endblock %}

    <!--{% if reportclass.help_url %}-->
    <!--<button class="btn btn-xs btn-default btn-table-icon" onclick="window.open('https://frepple.com/docs/{% version_short %}/{{reportclass.help_url}}');" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'help'|capfirst|force_escape %}"><span class="fa fa-question"></span></button>-->
    <!--{% endif %}-->
</div>
</div>

<div class="row" id="main-row" style="text-align: center;">
    <div id="content-main" class="col-md-12" style="min-height: 150px; margin-top: 0.7em">
        <table id="grid" class="table table-striped" style="background-color: white"></table>
        <div id="gridpager"></div>
    </div>
    <span id="resize-handle" class="fa fa-bars handle" style="display: none;"></span>
</div>

{% block after_table %}{% endblock %}

{% if reportclass.hasTimeBuckets %}
{% include "admin/subtemplate_timebuckets.html" %}
{% endif %}
{% endblock %}
