{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if title %}{{title|capfirst}} - {% endif %}frePPLe{% endblock %}

<!--{{STATIC_URL}}img/frepple.svg这是logol图片位置-->
{% block branding %}<img src="{{STATIC_URL}}img/logo.png" alt="APS Logo&nbsp;" style="width: 100%;height: 100%;object-fit: contain;">{% endblock %}
{% block extrastyle %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lib/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lib/opensans.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lib/ui.jqgrid.min.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/theme/{{request.theme}}/bootstrap.min.css" />
{% if request.theme == 'laura' %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/theme/{{request.theme}}/theme-base.css" />
{% endif %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lib/bootstrap-datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lib/jquery.datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lib/frepple-laura.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/button.css" />

<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico"/>
{% endblock %}
{% block extrahead %}
{{block.super}}
<script type="text/javascript" src="/data/jsi18n/"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/moment-with-locales.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/typeahead.bundle.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/i18n/grid.locale-{{LANGUAGE_CODE|default:'en'}}.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.jqgrid.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/frepple.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/Sortable.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/lib/echarts.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/i18n/intro.en.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
<script type="text/javascript">

  var url_prefix = '{{request.prefix}}';
  var database = '{{request.database}}';

$(function() {
    $('[data-toggle="popover"]').popover();
    {% if request.GET.tour %}
    tour.start("{{request.GET.tour}}");
    {% else %}
    var intro = localStorage.getItem("intro");
    if (intro != "{}") {
      tour.showIntroPage(intro);
      $("#showHints").addClass("toggle-on");
    }
    else
      $("#showHints").addClass("toggle-off");
    {% endif %}
    $('[data-toggle="tooltip"],#database').tooltip({delay: { "show": 500, "hide": 100 }});

    for (var i = 0; i < $('.datetime').length; i++) {
        var _this = $($('.datetime')[i])
        _this.html(_this.html().replace("Date:", "").replace("Time:", ""));
    }


    // 时间选择器
    $(".vDateField").datetimepicker({
        timepicker: false,
        format: 'Y-m-d',
        formatDate: 'Y-m-d',
        defaultDate: new Date().format("YYYY-MM-DD"),
    });

    //单纯显示时间
    $(".vTimeField").datetimepicker({
        datepicker: false,
        format: 'H:i:s',
        formatDate: 'H:i:s',
        step: 3600,
    });
  });
</script>
{% endblock %}
{% block nav-global %}{% endblock %}
