{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE|default:" en"}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>{% block title %}{% endblock %}</title>
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% if not is_popup %}
{% block nav-global %}{% endblock %}
{% endif %}

<div class="container-fluid" id="workarea" {% block extracontainer %}{% endblock %}>

    {% if messages %}
    <div class="row">
        <div class="col-md-12">{% for message in messages %}
            <ul class="alert {{message.tags}}">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!--{% block content_title %}<div class="row"><div class="col-md-12">{% if title %}<h1>{{title|capfirst|force_escape}}{% if post_title %}: {{post_title|capfirst}}{% endif %}<small>&nbsp;&nbsp;<span id="curfilter"></span></small></h1>{% block tools %}{% endblock %}{% endif %}</div></div>{% endblock %}-->

    {% block content %}
    <div id="content" class="row">
        {% block object-tools %}{% endblock %}
        {{content}}
    </div>
    {% endblock %}

    {% block footer %}

    <div id="popup" class="modal fade in" role="dialog"></div>

    {% endblock %}


    <!-- 确认弹框 -->
    <div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="confirmDialogTitle"> 确认提交？ </h4>
                </div>
                <div class="modal-body">
                    <p id="confirmDialogContent">是否确认提交？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="confirmDialogSubmit" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 刪除弹框 -->
    <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteDialogTitle" style="font-size: 18px; color: #333333"> 确认删除 </h4>
          </div>
          <div class="modal-body">
              <p id="deleteDialogContent" style="text-align: center; font-size: 20px; color: #333333">确认删除吗？</p>
          </div>
          <div class="modal-footer" style="text-align: center">
              <button type="button" id="deleteDialogSubmit" class="btn btn-primary" style="width: 92px; height: 34px">确认</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 92px; height: 34px; margin-left: 30px">取消</button>
          </div>
        </div>
      </div>
    </div>

   <!-- 下载弹框 -->
    <div class="modal fade" id="downloadDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="downloadDialogTitle"> 出口CSV或Excel文件 </h4>
                </div>
                <div class="modal-body">
                    <p id="downloadDialogContent">导出格式</p>
                    <input type="radio" id="spreadsheet" value="spreadsheet" name="downloadType" checked/>
                    <label for="spreadsheet">Excel列表</label>
                    <br/>
                    <input type="radio" id="csv" value="csv" name="downloadType"/>
                    <label for="csv">CSV列表</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="downloadDialogSubmit" class="btn btn-primary">输出</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end container -->
{% block modal %}{% endblock %}
</body>
</html>
