{% extends "admin/base_site_nav.html" %}
{% load i18n admin_modify %}

{% block extrahead %}{{block.super}}
{{media}}
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/forms.css"/>
<style>

    li, dt, dd {
        font-size: inherit;
        line-height: inherit;
    }

    #content-main .form-control {
        width: calc(100% - 115px);
        /*width: 90%;*/
        display: inline-block;
    }

    #content-main .form-control-inline {
        /*width: 100%;*/
    }

    #content-main select.form-control {
        display: inline-block;
    }

    #content-main .vDateField, .row .vTimeField {
        width: calc(100% - 115px);
        /*max-width: 150px;*/
        /*width: 150px;*/
        /*text-align: center;*/
    }

    /*#content-main .vTimeField {*/
        /*width: 100px;*/
    /*}*/

    #content-main input[type=number] {
        max-width: 150px;
    }

    .form-row p, td, th {
        font-family: inherit
    }

    .inline-related fieldset {
        background: none;
    }

    fieldset th {
        font-weight: normal;
    }

    ._inline-group .form-control {
        width: 100% !important;
        font-weight: normal;
    }

    ._inline-group input[type=number], ._inline-group .vDateField, ._inline-group .vTimeField {
        width: 100% !important;
        max-width: 400px !important;
    }

    @media (min-width: 992px) {
        #content-main .control-label {
            text-align: right;
        }
    }
</style>
{{block.super}}{% endblock %}

{% block content_title %}{{ block.super }}{% if object_id %}{% tabs opts %}{% endif %}{% endblock %}

{% block content %}

<div id="content-main">
    {% if errors %}
    <div class="row" style="margin: 0;">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible submit-alert-error" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {% comment %}Translators: Translation included with Django {% endcomment %}
                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                {% comment %}Translators: Translation included with Django {% endcomment %}
                {% trans "Please correct the errors below." %}{% endif %}
                {{ adminform.form.non_field_errors }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
                  id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}

                {% block field_sets %}
                {% for fieldset in adminform %}
                <!--CMARK 表单内容, 使用的是fieldset.html-->
                {% include "admin/includes/fieldset.html" %}
                {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                {% for inline_admin_formset in inline_admin_formsets %}
                {% include inline_admin_formset.opts.template %}
                {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block admin_change_form_document_ready %}
                <script type="text/javascript">

                    (function ($) {
                        $(document).ready(function () {

                            $('.add-another').click(function (e) {
                                e.preventDefault();
                                showAddAnotherPopup(this);
                            });

                            $('.related-lookup').click(function (e) {
                                e.preventDefault();
                                showRelatedObjectLookupPopup(this);
                            });

                            {% if adminform and add %}
                                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                            {% endif %}

                            {% if opts.model_name == 'item' %}
                                $("#id_type").change(function () {
                                    $.ajax({
                                        url: '/',
                                        method: 'get',
                                        data: {
                                            type: $(this).val()
                                        },
                                        success: function (data) {
                                            var data = [{ key: 'A0', value: 'A0'}, { key: 'A1', value: 'A1'}, { key: 'A1', value: 'A1'}]

                                            $("#id_status").empty();

                                            var html = '<option selected>---------</option>';

                                            data.map(d => {
                                                html += '<option value="'+ d.key +'" selected>' + d.value + '</option>';
                                            });

                                            $("#id_status").append(html);
                                        },
                                        error: function (error) {
                                           console.log(error)
                                        }
                                    })
                                });
                            {% endif %}
                        });
                    })(django.jQuery);
                </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}

            </form>
        </div>
    </div>
</div>
{% endblock %}