.navbar-default .navbar-nav>li>a {
    font-size: 20px !important;
}

.navbar-nav-menu {
    margin: 12px 0 0 40px;
}

.navbar .dropdown-menu>li>a {
    font-size: 18px !important;
}

.navbar .dropdown-menu>li>a:hover {
    background-color: #85A5FF;
}

.table.table-condensed.table-hover:not(.ui-jqgrid-btable) thead>tr>th {
    background-color: #D6E4FF !important;
}

.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div {
    color: #333333;
    font-weight: normal;
    /*font-size: 18px;*/
    font-size: 15px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F9FAFB !important;
}

/*.table-striped>tbody>tr:nth-of-type(odd) {*/
    /*background-color: #F4F6FF;*/
    /*#F9FAFB*/
/*}*/

.table-hover>tbody>tr:hover {
    background-color: #F4F6FF !important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    /*border: 2px solid #E4EBE9 !important;*/
    border-right-color: rgb(228, 235, 233);
    border-bottom-color: rgb(228, 235, 233);
    border-left-color: rgb(228, 235, 233);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.ui-jqgrid.ui-jqgrid-bootstrap {
    border: 0;
}

.table>thead>tr>td.success,
.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>thead>tr>th.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>thead>tr.success>th,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th {
    background-color: #F4F6FF !important;
}

::-webkit-scrollbar-thumb {
    background: #E3E6E5 !important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/*.jqgrow .ui-row-ltr .active:hover {*/
    /*!*background-color: transparent !important;*!*/
    /*background-color: #F4F6FF !important;*/
/*}*/

.table>thead>tr>td.active,
.table>tbody>tr>td.active,
.table>tfoot>tr>td.active,
.table>thead>tr>th.active,
.table>tbody>tr>th.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>tbody>tr.active>td,
.table>tfoot>tr.active>td,
.table>thead>tr.active>th,
.table>tbody>tr.active>th,
.table>tfoot>tr.active>th {
    /*background-color: #F4F6FF !important;*/
    background-color: transparent !important;
}